body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    position: relative;
}
.center{
    display: flex;
    justify-content: center;
}
.header{
    display: flex;
    align-items: center;
}
.svg{
    margin-right: 10px;
    margin-left: auto;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

section {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-bottom: 10px;
    color: #555;
}

#image-upload {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 5px;
    transition: border-color 0.3s ease;
}

#image-upload:hover {
    border-color: #777;
}

#caption {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: border-color 0.3s ease;
}

#caption:hover {
    border-color: #777;
}

button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #555;
}
.contain {
    max-width: 800px; /* ou tout autre valeur souhaitée */
    margin: 0 auto; /* cela centre la div horizontalement */
    padding: 20px; /* pour l'espace à droite et à gauche */
}

.text {
    text-align: center; /* centre le texte à l'intérieur de la div */
}

.outil {
    margin-top: 20px; /* espace entre la première et la deuxième div */
}
.connexion{
    position: absolute;
    background-color: #333;
    width: 100%;
    height: 1000000px;
}
@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.animation {
    animation: blink 2s infinite; /* 1s de durée, infinie répétition */
}